﻿<li class="dropdown" data-admin-menu>
    <a href="#">
        Admin
        <span class="glyphicon glyphicon-circle-arrow-down"></span>
    </a>
    <ul class="dropdown-menu">
        <li><a href="/Files">&nbsp;&nbsp; Files</a></li>
        <li class="divider"></li>
        <li><a href="/Users">&nbsp;&nbsp; Users</a></li>
    </ul>
</li>
